#Sida1 {
  display: grid;
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "hd nav"
    "mn mn"
    "mn2 img"
    "mn3 mn4"
    "mn5 ft";
  min-height: 200vh;

}
html, body{
margin: 0;
padding: 0;
}

header {
  grid-area: hd;
  background-color: #333;
  padding: 10px;  
  text-align: center;
    font-size: 5
    em;  
  font-weight: bold;  
}


nav {
  grid-area: nav;
  background-color: #333;
  color: white;
  padding: 20px;
}


.main1 {
  grid-area: mn;
  background: rgb(174, 20, 20);
  padding: 20px;
}

.main2 {
  grid-area: mn2;
  background: #ffffff;
  padding: 20px;
}

.main3 {
  grid-area: mn3;
  background: #ffffff;
  padding: 20px;
}

.main4 {
  grid-area: mn4;
  background: #d35400;
  padding: 20px;
}

.main5 {
  grid-area: mn5;
  background: #e67e22;
  padding: 20px;
}


.img {
  grid-area: img;
  background: #777;
  padding: 20px;
}


footer {
  grid-area: ft;
  background-color: #e67e22;
  color: white;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 800px){

#Sida1{
display: grid;
grid-template-areas: 
"hd hd hd nav"
"mn mn mn as "
"mn mn mn as "
"ft ft ft ft "
;




}
}